html 
{
background-image: linear-gradient(360deg, hwb(0 0% 0%), orange, yellow);

}

.Menu
{
    border: 1px solid black;
    border-radius: 20px;
    background-color: rgb(244, 244, 25);
    display: grid;
    grid-template-columns: 1fr 1fr; /* two equal columns */
    gap: 30px;
    font-weight: bold;
}

h3
{
    font-weight:lighter;
    text-decoration: underline;

   
}